<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SMB AI Community of Practice - Gain Clarity & Confidence in AI Implementation</title>
		<meta name="description" content="Join 15 SMB leaders to move from AI curiosity to measurable business impact through structured peer learning and proven implementation frameworks.">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
	</head>
	<body>
		<slot />
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</html>